In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
flight_train=pd.read_excel("//Users//raj//Projects//Sourcefiles//Datasets//flight_data//flight_train.xlsx")
flight_test=pd.read_excel("//Users//raj//Projects//Sourcefiles//Datasets//flight_data//flight_test.xlsx")

In [ ]:
# Combining the two datasets into a single dataframe 
flight_df=flight_train.append(flight_test)
#  Ignore the append, concat warning

In [ ]:
#Date_Of_Journey is in string format, which needs to be converted to datetime format
# We shall extract Date, Month and Year from the column 
flight_df['Date']=flight_df['Date_of_Journey'].str.split('/').str[0]
flight_df['Month']= flight_df['Date_of_Journey'].str.split('/').str[1]
flight_df['Year']=flight_df['Date_of_Journey'].str.split('/').str[2]

'''''
We can also use the lambda function to create date, month and year splits

flight_df["Date"]=flight_df['Date_of_Journey'].apply(lambda x:x.split("/")[0])
flight_df["Month"]=flight_df['Date_of_Journey'].apply(lambda x:x.split("/")[1])
flight_df["Year"]=flight_df['Date_of_Journey'].apply(lambda x:x.split("/")[2])

'''''

In [ ]:
# Now type cast the columns, Date, month and year as int data type
flight_df.Date=flight_df.Date.astype(int)
flight_df.Month=flight_df.Month.astype(int)
flight_df.Year=flight_df.Year.astype(int)
flight_df.info()

In [ ]:
# Now dropping the Date_of_Journey column
flight_df.drop('Date_of_Journey',axis=1,inplace=True)

In [31]:
# Handling the feature 'Arrival_ Time'
# Few records have Date in the arrival tim few records do not . we need to make it uniform and remove the Date 
flight_df['Arrival_Time'] = flight_df.Arrival_Time.str.split(' ').str[0]

In [32]:
flight_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [38]:
# Splitting into Arrival Hour and minute
flight_df['Arrival_hour']=flight_df.Arrival_Time.str.split(":").str[0] # Using a function
flight_df['Arrival_min']=flight_df['Arrival_Time'].apply(lambda x:x.split(':')[1])

In [40]:
# Typecasting the data as integer
flight_df.Arrival_hour=flight_df.Arrival_hour.astype(int)
flight_df.Arrival_min=flight_df.Arrival_min.astype(int)
#dropping the 'Arrival_Time column
flight_df.drop('Arrival_Time',axis=1,inplace=True)

In [45]:
# Applying the above for Departure Time
flight_df.Dep_Time.str.len().max() # Checking the maximum width of the column to enusre if there is any data mentioned anywhere
# The Max length returned is 5 . So there is no record with Date mentioned
flight_df['Dep_hour']=flight_df.Dep_Time.str.split(':').str[0]
flight_df['Dep_min']=flight_df['Dep_Time  '].apply(lambda x:x.split(':')[1])
flight_df.Dep_hour=flight_df.Dep_hour.astype(int)
flight_df.Dep_min=flight_df.Dep_min.astype(int)
flight_df.drop('Dep_Time',axis=1,inplace=True)

In [46]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_min      13354 non-null  int64
 13  Dep_hour         13354 non-null  int64
 14  Dep_min          13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 2.1+ MB

In [47]:
flight_df.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [48]:
# Handling the Feature 'Route'
# We Observe that we ave Source and Destination marked in seperate columns already and  There is number of stops column as well. So mapping the number first
flight_df['Total_Stops']=flight_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4})

In [37]:
# Check for the Null values if any in a column 
flight_df[flight_df.columns[flight_df.isnull().any()]].isnull().sum()

Route             1
Total_Stops       1
Price          2671
dtype: int64

In [50]:
flight_df.dropna(subset=['Total_Stops'],inplace=True) #Dropping the Nan Row from the Total Stops Columns
flight_df[flight_df.columns[flight_df.isnull().any()]].isnull().sum() # Check if Further NA values exist

Price    2671
dtype: int64

In [51]:
# Now drop the 'Route' Column
flight_df.drop('Route',axis=1,inplace=True)

In [102]:
flight_df.Duration.head(3)

0    2h 50m
1    7h 25m
2       19h
Name: Duration, dtype: object

In [104]:
flight_df['Dur']=flight_df['Duration'].str.replace("h","*60").str.replace(' ',"+").str.replace('m','*1').apply(eval)

In [114]:
flight_df.describe() # Running the describe function to check the values.
# It is found that two records have data 5 minutes for a 2 stop flight between Hyderabad and Mumbai. 
# Dropping those rows

flight_df.drop((flight_df[flight_df['Dur']==5]).index,inplace=True)

In [115]:
flight_df['Duration']=flight_df['Dur']
flight_df.drop('Dur',axis=1,inplace=True)

In [118]:
flight_df.Airline.unique() # Get the list of  Unique Airlines 
# Now Label encode the Airline 
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()
flight_df.Airline=lc.fit_transform(flight_df.Airline)
flight_df.Source=lc.fit_transform(flight_df.Source)
flight_df.Destination=lc.fit_transform(flight_df.Destination)
flight_df.Additional_Info=lc.fit_transform(flight_df.Additional_Info)

'''
We can Also try
d.get_dummies(flight_df,columns=["Airline", "Source", "Destination"] ,drop_first = True)
'''

In [119]:
flight_df.head(3)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_min
0,3,0,5,170,0.0,8,3897.0,24,3,2019,1,10,2,20,170
1,1,3,0,445,2.0,8,7662.0,1,5,2019,13,15,0,50,445
2,4,2,1,1140,2.0,8,13882.0,9,6,2019,4,25,0,25,60